.left-block-cate{
	float:left;	
}
.box_categories{
	border:1px solid #f3f3f3;
	padding-left:1px;	
}
#fieldblockcategories{
	overflow:hidden;	
}
#fieldblockcategories .row{
	margin:0 -1px;	
}
#fieldblockcategories .item-inner{
	float:left;
	width:100%;
	border-top:1px solid #f3f3f3;
	padding:15px;
}
.box-item-inner{
padding:10px;
background:#f3f3f3;
float:left;
width:100%;	
}
#fieldblockcategories .item-inner:first-child{
	border-top:none;
}
#fieldblockcategories.horizontal_mode .owl-carousel .owl-item .item{
	float:left;
	width:100%;
	padding:0;
	border-right:1px solid #f3f3f3;	
}